
h1 {

    text-align: center;
    font-style: oblique;
    font-size: 50px;

	color: #800000
}

.itens {
	font-style: italic;
	text-align: center;
}

#centralizado {
	text-align: center;
}

#imagem1 {
   width: 50%;
}

h2 {
	text-align: center;
	color: #800000
} 

#imagem2{

}

#itens2 {
font-style: italic;
text-align: center;
color: #800000
}

h3 {
	text-align: center;
	color: #800000
}

h4 {
	text-align: center;
	color: #800000
}

#itens3 {
	font-style: italic;
	text-align: center;
	font-size: 20px;
}

#lista1 {
	text-align: center;
}

#lista2 {
	text-align: center;
}

#lista3 {
	text-align: center;
}
