
h1 {

    font-size: 200px
	font-style: oblique;
	text-align: center;
}

.itens {
	font-style: italic;
}

h2 {
	text-align: center;
} 

.itens2 {
font-style: italic;
}

h3 {
	text-align: center;
}

h4 {
	text-align: center;
}

.itens3 {
	font-style: italic;
	font-size: 200px
}