
h1 {

    font-size: 200px
	font-style: oblique;
	text-align: center;
	color: #800000
}

.itens {
	font-style: italic;
}

h2 {
	text-align: center;
	color: #800000
} 

.itens2 {
font-style: italic;
color: #800000
}

h3 {
	text-align: center;
	color: #800000
}

h4 {
	text-align: center;
	color: #800000
}

.itens3 {
	font-style: italic;
	font-size: 200px
}